.nav {
  font-size: "only screen and (min-width: 48em)";
}

.dl-menuwrapper {
  width: 100%;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1000;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 200%;
  -moz-perspective-origin: 50% 200%;
  perspective-origin: 50% 200%;
  /* Hide the inner submenus */
}
@media only screen and (min-width: 48em) {
  .dl-menuwrapper {
    position: fixed;
    max-width: 175px;
    top: 25px;
    left: 25px;
  }
}
.dl-menuwrapper button {
  display: flex;
  align-items: center;
  top: 5px;
  left: 5px;
  background: #222222;
  border: none;
  width: 48px;
  height: 45px;
  text-indent: -900em;
  background-color: rgb(114, 114, 114);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  opacity: 1;
}
@media only screen and (min-width: 48em) {
  .dl-menuwrapper button {
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-color: transparent;
  }
}
.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
  background: #aaa;
}
.dl-menuwrapper button:after {
  content: "";
  position: absolute;
  width: 68%;
  height: 5px;
  background: #ffffff;
  top: 10px;
  left: 16%;
  box-shadow: 0 10px 0 #ffffff, 0 20px 0 #ffffff;
}
.dl-menuwrapper button.dl-active {
  display: none;
}
.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.dl-menuwrapper li {
  position: relative;
}
.dl-menuwrapper li h4 {
  margin: 0;
  padding: 15px 20px 0;
  color: rgba(255, 255, 255, 0.9);
}
.dl-menuwrapper li p {
  margin: 0;
  padding: 15px 20px;
  font-size: 14px;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}
.dl-menuwrapper li p a {
  display: inline;
  padding: 0;
  font-size: 14px;
  font-size: 0.875rem;
}
.dl-menuwrapper li a {
  display: block;
  position: relative;
  padding: 10px 20px;
  border: 0.1mm solid rgb(16, 0, 27);
  opacity: 1;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  outline: none;
  text-decoration: none;
}
.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  background: rgba(0, 0, 0, 0.2);
}
.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
  position: absolute;
  top: 0;
  line-height: 40px;
  font-family: "fontawesome";
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  content: "\f105";
}
.dl-menuwrapper li.dl-back:after {
  left: 10px;
  color: rgba(212, 204, 198, 0.5);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0, 0, 0, 0.15);
}
.dl-menuwrapper .dl-menu {
  margin: 0;
  position: absolute;
  width: 70%;
  border: 1px solid rgb(37, 1, 62);
  max-width: 400px;
  overflow-y: auto;
  max-height: 600px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media only screen and (min-width: 48em) {
  .dl-menuwrapper .dl-menu {
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    max-height: 650px;
    width: 100%;
  }
}
.dl-menuwrapper .dl-menu.dl-menu-toggle {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
@media only screen and (min-width: 48em) {
  .dl-menuwrapper .dl-menu.dl-menuopen {
    opacity: 0.91;
  }
}
.dl-menuwrapper .dl-submenu {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}
.dl-menuwrapper .dl-submenu .btn {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dl-menuwrapper li .dl-submenu {
  display: none;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block;
}

/* Animation classes for moving out and in */
.dl-menu.dl-animate-out {
  -webkit-animation: MenuAnimOut 0.4s ease;
  -moz-animation: MenuAnimOut 0.4s ease;
  animation: MenuAnimOut 0.4s ease;
}

@-webkit-keyframes MenuAnimOut {
  100% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
}
@-moz-keyframes MenuAnimOut {
  100% {
    -moz-transform: translateZ(300px);
    opacity: 0;
  }
}
@keyframes MenuAnimOut {
  100% {
    transform: translateZ(300px);
    opacity: 0;
  }
}
.dl-menu.dl-animate-in {
  -webkit-animation: MenuAnimIn 0.4s ease;
  -moz-animation: MenuAnimIn 0.4s ease;
  animation: MenuAnimIn 0.4s ease;
}

@-webkit-keyframes MenuAnimIn {
  0% {
    -webkit-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-moz-keyframes MenuAnimIn {
  0% {
    -moz-transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes MenuAnimIn {
  0% {
    transform: translateZ(300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}
.dl-menuwrapper > .dl-submenu.dl-animate-in {
  -webkit-animation: SubMenuAnimIn 0.4s ease;
  -moz-animation: SubMenuAnimIn 0.4s ease;
  animation: SubMenuAnimIn 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn {
  0% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
}
@-moz-keyframes SubMenuAnimIn {
  0% {
    -moz-transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
}
@keyframes SubMenuAnimIn {
  0% {
    transform: translateZ(-300px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0px);
    opacity: 1;
  }
}
.dl-menuwrapper > .dl-submenu.dl-animate-out {
  -webkit-animation: SubMenuAnimOut 0.4s ease;
  -moz-animation: SubMenuAnimOut 0.4s ease;
  animation: SubMenuAnimOut 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut {
  0% {
    -webkit-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-300px);
    opacity: 0;
  }
}
@-moz-keyframes SubMenuAnimOut {
  0% {
    -moz-transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    -moz-transform: translateZ(-300px);
    opacity: 0;
  }
}
@keyframes SubMenuAnimOut {
  0% {
    transform: translateZ(0px);
    opacity: 1;
  }
  100% {
    transform: translateZ(-300px);
    opacity: 0;
  }
}
/* No Touch Fallback */
.no-touchevents .dl-menuwrapper li a:hover {
  background: rgba(255, 248, 213, 0.1);
}

/* No JS Fallback */
.no-js .dl-trigger {
  display: none;
}
.no-js .dl-menuwrapper {
  position: initial;
}
@media only screen and (min-width: 48em) {
  .no-js .dl-menuwrapper {
    position: absolute;
  }
}
.no-js .dl-menuwrapper .dl-menu {
  position: relative;
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}
.no-js .dl-menuwrapper li .dl-submenu {
  display: block;
}
.no-js .dl-menuwrapper li.dl-back {
  display: none;
}
.no-js .dl-menuwrapper li > a:not(:only-child) {
  background: rgba(0, 0, 0, 0.1);
}
.no-js .dl-menuwrapper li > a:not(:only-child):after {
  content: "";
}
.no-js .dl-menu {
  max-height: 100%;
}
.no-js .dl-menu li {
  display: block;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
  background: #222222;
}

.dl-menu li {
  display: none;
}

.dl-menuopen li {
  display: block;
  opacity: 1;
}

/*# sourceMappingURL=nav.css.map */
