// _sass/print.scss
@use 'variables';

body {
  
}

@media print {
  body {
    background-image: none !important;
    
  }
  .wrapper {
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .container {
    box-shadow: none;
  }
  .feature {
      padding: 0;
  }

  .post-title .btn,
  #dl-menu,
  .goup-container {
    display: none;
  }
}
