body {
  font-family: Fira Sans, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
}

body {
  font-family: Fira Sans, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  color: #383838;
  background-position: center center;
  background-attachment: fixed;
}
@media only screen and (max-width: 30em) {
  body {
    background-image: none !important;
    background: #ffffff;
  }
}

* {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

.header {
  height: 100%;
  position: relative;
  width: 100%;
  min-height: 300px;
  text-align: left;
  color: #ffffff;
}
@media only screen and (max-width: 30em) {
  .header {
    display: block !important;
  }
}
@media only screen and (max-height: 500px) {
  .header {
    display: block !important;
  }
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 550px;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  color: #282828;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4.1%;
  box-shadow: 0 0 10px 0 rgba(40, 40, 40, 0.3);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (max-width: 30em) {
  .container {
    width: 100%;
    box-shadow: none;
  }
}
@media only screen and (min-width: 30.1em) and (max-width: 48em) {
  .container {
    width: 80%;
    border-radius: 3%;
  }
}

.row {
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
.row .title {
  margin-top: 20px;
  margin-bottom: 25px;
}
@media only screen and (max-width: 30em) {
  .row {
    padding: 0 1em;
  }
}

.wrapper {
  width: 75%;
  max-width: 850px;
  margin: 4rem auto;
  background: #ffffff;
  color: #383838;
  padding: 2em;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(40, 40, 40, 0.3);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (max-width: 30em) {
  .wrapper {
    width: 90%;
    padding: 2em 0;
    box-shadow: none;
  }
}

.entry-meta {
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #d1d1d1;
  padding-left: 0;
}
.entry-meta a {
  color: #d1d1d1;
}
.entry-meta li {
  list-style-type: none;
  display: inline;
}
.entry-meta .tag {
  display: inline-block;
  border: 1px solid;
  border-color: rgba(229, 229, 229, 0.5) rgba(223, 224, 228, 0.5) #d0d1d5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  background-color: #ffffff;
  color: #383838;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -ms-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  margin: 2px 5px;
}
.entry-meta .tag span {
  float: left;
  padding: 2px 6px;
}
.entry-meta .tag .count {
  background-color: rgb(216.75, 216.75, 216.75);
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.entry-meta .tag:hover {
  background-color: rgb(216.75, 216.75, 216.75);
  box-shadow: 0 0 1px 0 rgba(40, 40, 40, 0.5);
}

header .entry-meta {
  display: none;
}
@media only screen and (min-width: 48em) {
  header .entry-meta {
    display: block;
  }
}

.entry-title a {
  text-decoration: none;
}

.entry-tags {
  display: block;
  margin-top: 1rem;
  width: 70%;
  float: left;
  text-align: left;
}

.social-share {
  display: block;
  margin-top: 1rem;
  width: 30%;
  float: right;
  text-align: right;
}

.feature {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media only screen and (max-width: 30em) {
  .feature {
    background-image: none !important;
  }
}
@media only screen and (min-width: 30.1em) and (max-width: 48em) {
  .feature {
    color: white;
    padding: 4em;
    margin-left: -4rem;
    margin-right: -4rem;
    margin-top: -2rem;
    border-radius: 3px 3px 0 0;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-position: center center;
  }
}
@media only screen and (min-width: 48em) {
  .feature {
    color: white;
    padding: 10em;
    margin-left: -4rem;
    margin-right: -4rem;
    margin-top: -2rem;
    border-radius: 3px 3px 0 0;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-position: center center;
  }
}

/*# sourceMappingURL=site.css.map */
